<!DOCTYPE html>
<html>

<head>
    <title>Lista de Tarefas</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body id="background" class="bg-black">
    <div id="listaTarefa">
        <h1>LISTA DE TAREFAS</h1>
        <ul>
            <% tarefas.forEach(tarefa => { %>
                <li class="text-lg text-black "><%= tarefa.tarefa %></li>
                <div>
                    <a href="/tarefas/delete/<%- tarefa.id %>">
                        Delete
                    </a>
                </div>
            <% }); %>
        </ul>
        <form action="/tarefa" method="POST">
            <input type="text" name="title" placeholder="Nova Tarefa">
            <button type="submit">Adicionar</button>
        </form>
    </div>
</body>

</html>
